certifi==2025.1.31 ; python_version >= "3.11" and python_version < "4.0"
charset-normalizer==3.4.1 ; python_version >= "3.11" and python_version < "4.0"
cmd2==2.5.11 ; python_version >= "3.11" and python_version < "4.0"
gnureadline==8.2.13 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Darwin"
idna==3.10 ; python_version >= "3.11" and python_version < "4.0"
pyperclip==1.9.0 ; python_version >= "3.11" and python_version < "4.0"
pyreadline3==3.5.4 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
python-dotenv==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
rapidfuzz==3.12.2 ; python_version >= "3.11" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.11" and python_version < "4.0"
thefuzz==0.22.1 ; python_version >= "3.11" and python_version < "4.0"
tinydb==4.8.2 ; python_version >= "3.11" and python_version < "4.0"
urllib3==2.3.0 ; python_version >= "3.11" and python_version < "4.0"
wcwidth==0.2.13 ; python_version >= "3.11" and python_version < "4.0"
